<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EwayBot</title>
    <link rel="stylesheet" href="stylesheets/foundation.css" />
    <link rel="stylesheet" href="stylesheets/style.css"/>
    <script src="javascripts/vendor/modernizr.js"></script>
  </head>
  <body>
  <!--导航条区域-->
    <div class="nav-area fixed">
      <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on:large">
        <ul class="title-area">
          <li class="name">
            <h1><a href="/">EwayBot</a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
          <ul class="right">
            <li><a href="#" data-reveal-id="contactModal">联系我们</a></li>
          </ul>
        </section>
      </nav>
    </div>

  <!--页面区域-->
    <div class="content-area page1">
      <div class="row">
        <div class="large-7 small-12 columns">
          <h1><%=message%></h1>
          <h1>Hello!I'm JUN.</h1>
          <h1>We Grow Together.</h1>
        </div>
        <div class="large-5 columns">
        </div>
      </div>
      <div class="row">
        <div class="large-7 columns"></div>
        <div class="large-5 small-10 small-offset-2 columns">
          <img src="/images/page1_bot.png">
        </div>
      </div>
      <div class="show-for-large-only row" style="height: 100px"></div>
    </div>

    <div class="content-area page2">
    <div class="row">
      <h1>Jun可以做什么</h1>
      <div class="large-1 small-3 columns">
        <img src="images/dice.svg"/>
      </div>
      <div class="large-5 small-9 columns">
        <h3>游戏：满足孩子的天性</h3>
        <ul>
          <li>分担家长陪伴孩子游戏的压力</li>
          <li>有性格的机器人是孩子的小伙伴</li>
          <li>100个发挥机器人特性的儿童游戏</li>
        </ul>
      </div>
      <div class="large-1 small-3 columns">
        <img src="images/dice.svg"/>
      </div>
      <div class="large-5 small-9 columns">
        <h3>教育：陪伴是最好的教育</h3>
        <ul>
          <li>将教育与游戏结合</li>
          <li>在陪伴孩子游戏中对其进行潜移默化</li>
          <li>不断升级更新，满足孩子成长不同阶段需求</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="large-1 small-3 columns">
        <img src="images/dice.svg"/>
      </div>
      <div class="large-5 small-9 columns">
        <h3>记录：留住童年的影像</h3>
        <ul>
          <li>通过人工智能，分析孩子的行为习惯</li>
          <li>主动记录孩子日常生活，留下童年珍贵影像</li>
        </ul>
      </div>
      <div class="large-1 small-3 columns">
        <img src="images/dice.svg"/>
      </div>
      <div class="large-5 small-9 columns">
        <h3>安防：保证孩子的安全</h3>
        <ul>
          <li>家中巡逻</li>
          <li>成为儿童和家长的交流工具</li>
          <li>帮助家长关注孩子的日常状态</li>
        </ul>
      </div>
    </div>
  </div>

    <div class="content-area page3">
    <div class="row">
      <h1>Jun的技能</h1>
      <div class="large-1 small-3 columns">
        <img src="images/dice.svg"/>
      </div>
      <div class="large-3 small-9 columns">
        <h3>人脸识别</h3>
        <ul>
          <li>知道你是谁</li>
          <li>一直看着你</li>
          <li>只会听你的</li>
        </ul>
      </div>
      <div class="large-1 small-3 columns">
        <img src="images/dice.svg"/>
      </div>
      <div class="large-3 small-9 columns">
        <h3>肢体运动</h3>
        <ul>
          <li>全自由度手臂适合多种游戏场景</li>
        </ul>
      </div>
      <div class="large-1 small-3 columns">
        <img src="images/dice.svg"/>
      </div>
      <div class="large-3 small-9 columns">
        <h3>轮式移动</h3>
        <ul>
          <li>自由运动</li>
          <li>自动避障</li>
        </ul>
      </div>
    </div>
  </div>

    <div class="content-area page4">
    <div class="row">
      <div class="large-6 small-12 columns">
        <h1>We Grow Together</h1>
      </div>
      <div class="large-6 small-12 columns">
        <img src="images/dice.svg"/>
      </div>
    </div>
  </div>

    <div class="content-area page5">
      <div class="row">
        <h1>团队介绍</h1>
        <div class="large-3 small-6 columns">
          <img src="images/dice.svg"/>
          <p>姓名：1</p>
        </div>
        <div class="large-3 small-6 columns">
          <img src="images/dice.svg"/>
          <p>姓名：2</p>
        </div>
        <div class="large-3 small-6 columns">
          <img src="images/dice.svg"/>
          <p>姓名：3</p>
        </div>
        <div class="large-3 small-6 columns">
          <img src="images/dice.svg"/>
          <p>姓名：4</p>
        </div>
      </div>
      <div class="row">
        <div class="large-3 small-6 columns">
          <img src="images/dice.svg"/>
          <p>姓名：5</p>
        </div>
        <div class="large-3 small-6 columns">
          <img src="images/dice.svg"/>
          <p>姓名：6</p>
        </div>
        <div class="large-3 small-6 columns">
          <img src="images/dice.svg"/>
          <p>姓名：7</p>
        </div>
        <div class="large-3 small-6 columns">
          <img src="images/dice.svg"/>
          <p>姓名：8</p>
        </div>
      </div>
  </div>

    <div class="content-area page6">
      <div class="row">
        <div class="large-6 columns">
          <img src="images/dice.svg">
          <p>大道至简</p>
        </div>
        <div class="large-6 columns">
          <img src="images/dice.svg">
          <p>匠心独运</p>
        </div>
      </div>
    </div>

    <div class="content-area page8">
      <div class="row">
        <h1>JUN是每个人的小伙伴</h1>
        <div class="large-6 small-12 columns">
          <h3>儿童</h3>
          <ul>
            <li>成长中没有孤单，学习中没有烦恼</li>
          </ul>
          <h3>家长</h3>
          <ul>
            <li>无时不刻陪伴孩子成长，打破游戏和教育的界限</li>
          </ul>
          <h3>开发者</h3>
          <ul>
            <li>开放的SDK，帮助开发者更好增强JUN的技能</li>
          </ul>
          <h3>成年人</h3>
          <ul>
            <li>协助管理你的生活，成为你生活和工作的得力伙伴，为你记录人生精彩瞬间</li>
          </ul>
        </div>
        <div class="large-6 small-12 columns">
          <img src="images/dice.svg"/>
        </div>
      </div>
    </div>

  <!--页脚区域-->
    <div class="footer-area">
    <div class="row">
      <div class="large-12 columns">
        &copy; 2015 EwayBot, Inc. All rights reserved.
      </div>
    </div>
  </div>

  <!--联系我们对话框-->
  <div id="contactModal" class="reveal-modal" data-reveal>
    <h2>联系我们</h2>
    <a class="close-reveal-modal">&#215;</a>

    <form id="form" data-abide="ajax" action="/" method="post" enctype="multipart/form-data">
    <!--<form id="form1" data-abide>-->
      <div class="title-field">
        <label>主题
          <input placeholder="主题" type="text" name="Title" required>
        </label>
        <small class="error">不能为空</small>
      </div>
      <div class="name-field">
        <label>您的名字
          <input placeholder="JUN" type="text" name="Name" required>
        </label>
        <small class="error">不能为空</small>
      </div>
      <div class="email-field">
        <label>您的邮箱
          <input placeholder="info@ewaybot.com" type="email" name="Email" required>
        </label>
        <small class="error">请输入正确的格式</small>
      </div>
      <div class="content-field">
        <label>内容
          <textarea placeholder="请输入" type="text" name="Content" required></textarea>
        </label>
        <small class="error">请输入内容</small>
      </div>
      <div class="file-field">
        <label>上传简历
          <div class="row">
            <div class="large-4 small-4 columns"><input id="f" type="file" name="Upload" multiple="multiple"></div>
            <div class="large-4 small-8 columns" style="color: red">只能提交pdf文件，并且文件小于等于10M</div>
            <div class="large-4 small-0 columns"></div>
          </div>
        </label>
      </div>
      <div class="row">
        <div class="large-6 medium-6 small-6 columns">
          <button id="submit" type="submit">提交</button>
        </div>
        <div class="large-6 medium-6 small-6 columns">
          <!--<span class="round alert label">请注意：只能提交pdf文件<br/>并且文件大小小于10M</span>-->
        </div>
      </div>
    </form>
  </div>

  <!--感谢对话框-->
  <div id="thanksModal" class="reveal-modal" data-reveal>
    <h2>Thanks</h2>
    <p>非常感谢您的投递，我们会尽快联系您</p>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>

  <!--错误对话框-->
  <div id="errorModal" class="reveal-modal" data-reveal>
    <h2>Oops</h2>
    <p>好像出错了...</p>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
  <!--文件过大对话框-->
  <div id="filesizeModal" class="reveal-modal" data-reveal>
    <h2>Oops</h2>
    <p>文件过大，请重新投递</p>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
  <!--文件类型错误对话框-->
  <div id="filetypeModal" class="reveal-modal" data-reveal>
    <h2>Oops</h2>
    <p>请提交pdf文件，请重新投递</p>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
  <!--等待对话框-->
  <div id="waitModal" class="reveal-modal" data-reveal>
    <h2>Wait</h2>
    <p>文件上传中，请等待对话框自动关闭</p>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>

    <script src="javascripts/vendor/jquery.js"></script>
    <script src="javascripts/foundation.min.js"></script>
    <script src="javascripts/foundation/foundation.abide.js"></script>
    <script>
      $(document).foundation();

      $('#form').on('valid.fndtn.abide', function () {
        //文件大小以及类型判断
        var f=document.getElementById("f").files;
        if(f.length>0){
          var size=0;
          for(var i=0;i< f.length;i++){
            if(f[i].type.indexOf('pdf')<0&&f[i].name.indexOf('pdf')<0){
              $('#filetypeModal').foundation('reveal','open');
              return;
            }
            size+=f[i].size;
          }
          if(size>10485760){
            $('#filesizeModal').foundation('reveal','open');
            return;
          }
          //$('#waitModal').foundation('reveal','open');
        }

        //发送表单

          var formData = new FormData($( "#form" )[0]);
          $.ajax({
            url: '/' ,
            type: 'POST',
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
              if(data.state==1){
                $('#waitModal').foundation('reveal','close');
                $('#thanksModal').foundation('reveal','open');
              }else{
                $('#waitModal').foundation('reveal','close');
                $('#filesizeModal').foundation('reveal','open');
              }
            },
            error: function (data) {
              ('#errorModal').foundation('reveal','open');
            }
          });
      });
    </script>
  </body>
</html>
