.content-area{
    padding:25px 0 25px 0;
}

.footer-area{
    background-color: yellowgreen;
    color: #FFFFFF;
}

img{
    width:100%;
}

.page1{
    /*FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#b8c4cb,endColorStr=red); !*IE 6 7 8*!*/
    /*background: -ms-linear-gradient(top, #fff,  #0000ff);        !* IE 10 *!*/
    /*background:-moz-linear-gradient(top,#b8c4cb,#f6f6f8);!*火狐*!*/
    /*background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#b8c4cb), to(#f6f6f8));!*谷歌*!*/
    /*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#0000ff));      !* Safari 4-5, Chrome 1-9*!*/
    /*background: -webkit-linear-gradient(top, #fff, #0000ff);   !*Safari5.1 Chrome 10+*!*/
    /*background: -o-linear-gradient(top, #fff, #0000ff);  !*Opera 11.10+*!*/
    background: linear-gradient(#c9c9c9,white);
    background-size:auto 100%;
}

.page2{
    background-color: darkcyan;

}

.page3{
    background-color: gray;
}

.page4{
    background-color: firebrick;
}

.page5{
    background-color: greenyellow;
}

.page6{
    background-color: rosybrown;
}

.page8{
    background-color: darkgrey;
}